@charset "utf-8";
/* CSS Document */

a, img a, img, a img {
    border: 0;
    outline: 0;
    text-decoration: none;
}
/* Float Elements 
---------------------------------*/
.fl-lt {
    float: left;
}
.fl-lt img {


}
.fl-rt {
    float: right;
}
/* only to clear floats - to be used with any class as addition */
.clear {
    clear: both;
}
/* clear float with blank <div>or <br>*/
.clrflt {
    clear: both;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
/* Primary Styles
---------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000;
    padding: 0px;
    margin: 0px;
    background-color: #F5F5F5;
}
/*=======main-page=======*/

.outer {
    background: url(../resources/images/outer_bg.png) repeat-x left top;
}
.wrapper {
    width: 980px;
    margin: 0 auto;
}
/*=======header=======*/

.header {
}
.header_top {
    padding: 25px 20px 25px 25px;
    margin-bottom: 20px;
    background-color: #333333;
    border-bottom: 5px solid #000000;
}
.logo {
    font-size: 36px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFF;
    font-weight: normal;
}
.logo a {
    color: #eeeeee;
}
.name {
    font-size: 36px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFF;
    font-weight: normal;
}
.contact {
    font-size: 20px;
    color: #C7C7C7;
    margin-top: 17px;
    font-family: "Trebuchet MS", Arial, Verdana;
}
/*=======menu=======*/

.menu {
    text-align: center;
    background-color: #30b196;
    border-bottom: 5px solid #2b9780;
}
.menu ul {
    margin: 0px;
    padding: 5px 0 0 0;
    list-style: none;
}
.menu ul li {
    display: inline;
    padding: 0 42px;
    line-height: 52px;
}
.menu ul li a {
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.menu ul li a:hover {

    text-decoration: none;
    color: #000000;
}
/*=======content=======*/

.content {
    padding: 19px 20px 10px 20px;
    font-size: 12px;
    color: #666666;
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    border-bottom: 5px solid #cccccc;
}
.banner {
}
.content_bottom {
    padding: 31px 8px 20px 8px;
}
.content_left {
    width: 300px;
}
.content h2 {
    color: #333333;
    font-size: 24px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 0 20px 0;
}
.content p {
    margin: 0px;
    padding: 0 0 20px 0;
    line-height: 18px;
}
.pic_area {
}
.pic_area_right {
    width: 255px;
    padding-top: 3px;
}
.content_right {
    width: 580px;
}
.content_right a {
    text-decoration: underline;
    color: #333333;
}
.content_right a:hover {
    color: #30B196;
    text-decoration: none;
}
.content h3 {
    color: #333333;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background: url(../resources/images/icon.png) no-repeat left center;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 23px;
    padding-bottom: 7px;
    margin-top: 0;
}
/*=======footer=======*/

.footer_wrap {
    position: relative;
    z-index: 1;
    background: #e9e9e9;
    margin-top: -28px;
    padding: 48px 0 28px 0;
}
.footer_left {
    width: 600px;
    padding: 0 20px;
    font-size: 11px;
    color: #333333;
}
.footer_menu {
}
.footer_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer_menu ul li {
    display: inline;
    padding: 0 10px;
}
.footer_menu ul li.noback {
    background: none;
}
.footer_menu ul li.nopad {
    padding: 0 10px 0 0;
}
.footer_menu ul li a {
    font-size: 12px;
    color: #333333;
}
.footer_menu ul li a:hover {
    text-decoration: underline;
}
.footer_left p {
    margin-top: 21px;
}
.footer_left p a {
    color: #333333;
    text-decoration: underline;
}
.footer_right {
    padding: 0 20px;
    width: 240px;
    font-size: 12px;
    color: #333333;
}
.footer_right span {
    display: block;
    padding-right: 10px;
}
.footer_right a {
    color: #333333;
    margin: 0 0 0 15px;
}
.footer_right a img {
    margin-right: 5px;
    float: left;
}
.banner img {

}

/*========= login form ======*/
/** resets **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html { height: 101%; }
body { 
    background: #f0f0f0 url('../resources/images/bg.gif'); 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #313131;
    font-size: 62.5%; 
    line-height: 1; 
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc !important;
    font-style: italic;  
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#topbar {
    background: #4f4a41;
    padding: 10px 0 10px 0;
    text-align: center;
}

#topbar a {
    color: #fff;
    font-size:1.3em;
    line-height: 1.25em;
    text-decoration: none;
    opacity: 0.5;
    font-weight: bold;
}

#topbar a:hover {
    opacity: 1;
}

/** typography **/
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
h1:before,
h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}
h1:before {    
    left: -.5em;
    margin: 0 0 0 -50%;
}
h1:after {    
    left: .5em;
    margin: 0 -50% 0 0;
}
h1 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

p {
    display: block;
    font-size: 1.35em;
    line-height: 1.5em;
    margin-bottom: 22px;
}

.center { display: block; text-align: center; }


/** page structure **/
#w {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 30px;
}

#content {
    display: block;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


.flatbtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: 0;
    border: 0;
    color: #f3faef;
    text-decoration: none;
    background-color: #6bb642;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px 11px 6px 11px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
    color: #fff;
    background-color: #73c437;
}
.flatbtn:active {
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
.flatbtn-blu { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: 0;
    border: 0;
    color: #edf4f9;
    text-decoration: none;
    background-color: #4f94cf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 1.3em;
    font-weight: bold;
    padding: 12px 26px 12px 26px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover {
    color: #fff;
    background-color: #519dde;
}
.flatbtn-blu:active {
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}


/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.loginmodal {
    width: 300px;
    padding: 15px 20px;
    background: #f3f6fa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#loginform { /* no default styles */ }

#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }


.txtfield { 
    display: block;
    width: 100%;
    padding: 6px 5px;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    color: #7988a3;
    font-size: 1.4em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
    background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
    background-image: -moz-linear-gradient(top, #edf3f9, #fff);
    background-image: -ms-linear-gradient(top, #edf3f9, #fff);
    background-image: -o-linear-gradient(top, #edf3f9, #fff);
    background-image: linear-gradient(top, #edf3f9, #fff);
    border: 1px solid;
    border-color: #abbce8 #c3cae0 #b9c8ef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.txtfield:focus {
    outline: none;
    color: #525864;
    border-color: #84c0ee;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}




.order-table{   
    border-collapse:collapse;
    border: 1px solid black;
    padding: 15px;
}

.order-table-header{
     padding: 15px;
    /*//border: 1px solid black;*/
    text-align:center;
    background:none repeat scroll 0 0 royalblue;
    color: white;


}

.order-table-odd-row{
    /*// padding: 15px;*/
    text-align:center;

    background:none repeat scroll 0 0 #b9def0;

}
.column_padding{
    padding: 15px;
}
.order-table-even-row{
    /*// padding: 15px;*/
    text-align:center;
    background:none repeat scroll 0 0 #e9e9e9;

}


body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.centerTextAlign{
    text-align: left;
    vertical-align: text-top;
    word-wrap: break-word;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  opacity: 0.8;
  background-color: #FFFFFF;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 37%;
  left: 45%;
  z-index: 100;
}
.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}